:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 321px;
  min-height: 100vh;
  background-color: rgb(255, 255, 255, 0.2);
}

h1 {
  font-size: 2.8em;
  line-height: 1.1;
  text-decoration: underline;
  color: #00008B;
  text-decoration-color: #00004B;
  margin: 0;
}

h2{
  font-size: 4.5em;
  line-height: 1.1;
  text-decoration: underline;
  text-decoration-color: #00004B;
  color: #00008B;
  background-color: rgb(210, 210, 210);
  margin: 0;
  padding-bottom: 0.8em;
  border: 1px solid black;
  outline-style: outset;
  outline-color: #00004B;
  outline-width: thick;
}

h4{
  font-size: 1.4em;
  line-height: 1.1;
  color: #00008B;
  margin: 0;
  padding-bottom: 0.8em;
  border: 1px solid black;
  outline-style: double;
  outline-color: #00004B;
  outline-width: medium;
  background-color: rgb(210, 210, 210);
}

h3{
  border: 1px solid black;
  outline-style: solid;
  outline-color: #00004B;
  outline-width: thin;
}

p {
  font-family: "sans-serif";
  margin-left: 2em;
  margin-top: 0.1em;
}

div{
  padding: 0.7em;
  margin-left: 0.8em;
}


label{
  font-family: "sans-serif";
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: #4CAF50;
  border-style: dashed;
  border-width: medium;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
